%hr.divider

.column.advantage.padding-vertical60.padding-left20.padding-right40
  .title
    Resources

  .row
    .column.item.resources
      .description
        Learn how to 
        %a{ href: "https://youtu.be/Fd5DhebtScg" }
          add Security to your CICD Pipeline
      .description
        Efficiently manage vulnerabilities and risk using the 
        %a{ href: "https://youtu.be/p3qt2z1rQk8" }
          GitLab Security Dashboards
      .description
        Manage your 
        %a{ href: "https://youtu.be/scNS4UuPvLI" }
          Application Dependencies
      .description
        Use GitLab Application Security Capabilities 
        %a{ href: "https://youtu.be/8VoxulxxM4Y" }
          with Jenkins
      .description
        See how we
        %a{ href: "https://about.gitlab.com/devops-tools/" }
          compare
        against other 
        Security tools

%hr.divider
